button{
  border-radius:8px;
  border:1px solid transparent;
  padding:0.1em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition:
  border-color 0.25s;
  margin: 0.4rem;
}

.oslo{
    width: 250px;
    height: 150px;
    object-fit: cover;

    p{

    }
}




p{
    border: 1px solid #333; 
    padding: 1rem;

}


@media (min-width:800px){

    
    .oslo{
        flex-direction: row !important; 
        flex-wrap: wrap;
        
    

    }
}