main{
    h1{
        color: black;
        margin: 1rem;
    
    }
}

.Attraction{

    h2{
        margin-top: 6rem;
    }

}


.Arrangement{

}

.Venues{

}
.card{
        border: 6rem;
        border: #000;
        box-shadow: 0 3px 10px black;
        border-radius: 10px;
        margin:2rem;
        padding-bottom: 2rem;
        
}

.card-img{
    
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
    height: auto;
    object-fit: cover;
    margin:auto;
    padding-top: 1rem;
    display: block;
    
}
