*{
    box-sizing: border-box;
   
}


.Sjanger{

    text-align: left;

    ul{
        padding: 0;
        li{
            list-style:none;
            color: black;
        }
    }

}

.SoMe{

    h3{
        text-align: left;
    }

    ul{
        display: flex;
        padding: 0;
        li{
            list-style: none;
            padding: 1rem;

            a{
                border-radius: 10px;
            }
        }
    }
}

.festivaler{
    h2{
        margin:0;
    }
}

.artister{
    ul{
        padding:0;
        li{
            list-style: none;
            figure{
                img{
                    width: 100%;
                    max-width: 350px;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}