*{
    box-sizing: border-box;
   
}

main{
    h2{
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
}

nav{
    ul{
        color:black;
        a{
            color: black;
        }

        li{
            color: black;
        }
        }
    }

.Sjanger{

    text-align: left;
    margin-bottom: 5rem;

    ul{
        padding: 0;
        li{
            list-style:none;
            color: black;
        }
    }

}

.SoMe{

    h3{
        text-align: left;
    }

    ul{
        display: flex;
        padding: 0;
        li{
            list-style: none;
            padding: 1rem;

            a{
                border-radius: 10px;
            }

            
        }
    }
}

.festivaler{
    h2{
        margin:0;
        width: 100%;
    }
    article{
        border: #000;
        box-shadow: 0 3px 10px black;
        border-radius: 10px;
        max-width: 300px;
        max-height: 600px;
        min-height: 600px;
        min-width: 300px;
        color: black;
    }
}

.artister{
    
  

    ul{
        padding:0;
        margin:0;

        li{
            list-style: none;
            margin: 4rem auto;
            figure{
                min-width: 200px;
                img{
                    width: 100%;
                    max-width: 300px;
                    min-width: 300px;
                    max-height: 300px;
                    min-height: 300px;
                    height: auto;
                    object-fit: cover;
                    align-items: center;
                }
                figcaption{
                    color:black;
                    font-weight: bold;
                }
            }
        }
    }
}
@media (min-width: 800px) {
    .artister{
        ul{
            display: flex;
            flex-wrap:wrap;

        }
    }
}