footer {
    border-top: 1px solid #ccc;
    font-size: 12px;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    color: #000000;
    background-color: #f9f9f9;*

    a {
        color: #4d92d7;

        &:hover,
        &:focus {
            color: #005bb5;
        }
    }
}

