body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e6d8d4;
    margin: 0;
    font-family: sans-serif;
}

article {
    margin: 2rem;
    width: 350px;
    height: 350px;


    img {
        width: 350px;
        height: auto;
        aspect-ratio: 5 / 3;
        object-fit: cover;
    }

    a {
        border: 2px solid #000;
        color: #000;
        font-weight: bold;
        padding: 0.5rem;
        text-decoration: none;
        display: inline-block;
        margin-top: 1rem;
    }
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #e6d8d4;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;

    a {
        color:#000;
        font-weight: bold;
        text-decoration: none;
        margin: 0.5rem;
    }

    #logo {
        font-size: 2em;
    }
}

nav {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;
    padding: 1rem;
    position: relative; 
}

nav ul {
    display: flex;
    gap: 1rem;                 
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;    
}

.nav_category_wrapper {
    display: flex; 
    justify-content: center; 
    gap: 1rem;
    width: 100%;  
    flex: 1; 
}

.nav_category {
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; 
}

.nav_category:hover {
    color: white; 
    background-color: #a36fa3;

}


.nav_logginn {
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    white-space: nowrap; 
    margin-left: auto;  
}


.nav_logginn:hover {
    background-color: #a36fa3;
    color: white;
}

.festivaler {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    article {
        border: 6rem;
        border: #000;
        box-shadow: 0 3px 10px black;
        border-radius: 10px;

        a {
            color: #ffffff;
            background-color: #000;
            font-weight: bold;
            padding: 0.5rem;
            text-decoration: none;
        }
        h3 {
            color: #000;
        }
    }
}


@media (min-width: 800px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;

        a {
            margin: 0 1rem;
        }
    }

    .festivaler {
        flex-direction: row;
        flex-wrap: wrap;

        h1 {
            width: 100%;
            color: #000;
        }
    }

    .nav_category_wrapper {
        justify-content: center;
        width: auto;
    }

    .nav_category {
        padding: 0.75rem 1.5rem;
    }

    .nav_logginn {
        padding: 0.75rem 2rem;
    }
}
