.eventdetailes{

    margin: auto;
    h1{
        font-size: 2rem;
        margin-bottom: 3rem;
        
    }

    img{
        width: 100%;
        min-width: 300px;
  max-width: 300px;
  min-height: 350px;
  max-height: 350px;
  height: auto;
    }


    p{
        color: black;
    }
    h3{
        margin:0;
    }

}
.sanity-wishlist{

    margin: 0 auto;
    h2{
        text-align: center;
        margin-top: 5rem;
    }
        
    
    ul{
        padding: 0;
        list-style: none;
        margin: 0 auto;
        li{
            img{ 
                width: 100%;
                min-width: 300px;
                max-width: 300px;
                min-height: 350px;
                max-height: 350px;
                height: auto;

            }
            p{
                color:black;
            }

        }
    }

}
@media (min-width: 800px) {
    .eventdetailes {
        display: flex;
        flex-direction: column; 
        justify-content: center; /* For å sentrere innholdet horisontalt */
        align-items: center; /* For å sentrere innholdet vertikalt */
        width: 100%;
        margin: 0 auto;
    }

    .sanity-info {
        display: flex;
        flex-direction: row;
    }
    
}



